---
http_interactions:
- request:
    method: get
    uri: http://partner.metoffice.gov.uk/public/val/wxfcs/all/xml/nearestlatlon?res=3hourly&lat=53.432996&lon=-3.078296&key=1ab12345-1a12-12a1-12a1-123456789123
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<SiteRep>\n
        \   <Wx>\n        <Param units=\"C\" name=\"F\">Feels Like Temperature</Param>\n
        \       <Param units=\"mph\" name=\"G\">Wind Gust</Param>\n        <Param
        units=\"%\" name=\"H\">Screen Relative Humidity</Param>\n        <Param units=\"C\"
        name=\"T\">Temperature</Param>\n        <Param units=\"\" name=\"V\">Visibility</Param>\n
        \       <Param units=\"compass\" name=\"D\">Wind Direction</Param>\n        <Param
        units=\"mph\" name=\"S\">Wind Speed</Param>\n        <Param units=\"\" name=\"U\">Max
        Uv Index</Param>\n        <Param units=\"\" name=\"W\">Weather Type</Param>\n
        \       <Param units=\"%\" name=\"Pp\">Precipitation Probability</Param>\n
        \   </Wx>\n    <DV type=\"Forecast\" dataDate=\"2012-07-30T20:00:00Z\">\n
        \       <Location continent=\"EUROPE\" country=\"ENGLAND\" name=\"WALLASEY\"
        lon=\"-3.06\" lat=\"53.43\" i=\"354059\">\n            <Period val=\"2012-07-30Z\"
        type=\"Day\">\n                <Rep U=\"1\" W=\"1\" V=\"GO\" T=\"16\" S=\"14\"
        Pp=\"5\" H=\"95\" G=\"23\" F=\"14\" D=\"WNW\">1080</Rep>\n                <Rep
        U=\"0\" W=\"0\" V=\"VG\" T=\"14\" S=\"6\" Pp=\"5\" H=\"83\" G=\"11\" F=\"13\"
        D=\"WSW\">1260</Rep>\n            </Period>\n            <Period val=\"2012-07-31Z\"
        type=\"Day\">\n                <Rep U=\"0\" W=\"0\" V=\"GO\" T=\"12\" S=\"5\"
        Pp=\"5\" H=\"80\" G=\"10\" F=\"12\" D=\"SSE\">0</Rep>\n                <Rep
        U=\"0\" W=\"7[...]
