---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?region=&sensor=false&latlng=27.17461%2C78.0447
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"2\",\n               \"short_name\"
        : \"2\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"State HIghway 62\",\n               \"short_name\"
        : \"SH 62\",\n               \"types\" : [ \"route\" ]\n            },\n            {\n
        \              \"long_name\" : \"Tajganj\",\n               \"short_name\"
        : \"Tajganj\",\n               \"types\" : [ \"sublocality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Agra\",\n
        \              \"short_name\" : \"Agra\",\n               \"types\" : [ \"locality\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Agra\",\n               \"short_name\" : \"Agra\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Uttar Pradesh\",\n               \"short_name\"
        : \"UP\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"India\",\n
        \              \"short_name\" : \"IN\",\n               \"types\" : [ \"country\",
        \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"2, State HIghway 62, Tajganj, Agra, Uttar Pradesh, India\",\n         \"geometry\"
        : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 27.17121760,\n                  \"lng\" : 78.03911370\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 27.17100790,\n
        \                 \"lng\" : 78.03903240\n               }\n            },\n
        \           \"location\" : {\n               \"lat\" : 27.1712180,\n               \"lng\"
        : 78.03903330\n            },\n            \"location_type\" : \"RANGE_INTERPOLATED\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 27.17246173029150,\n                  \"lng\" : 78.04042203029151\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 27.16976376970850,\n
        \                 \"lng\" : 78.03772406970850\n               }\n            }\n
        \        },\n         \"types\" : [ \"street_address\" ]\n      },\n      {\n
        \        \"address_components\" : [\n            {\n             [...]
