---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?region=&sensor=false&latlng=53.432996%2C-3.078296
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"56\",\n               \"short_name\"
        : \"56\",\n               \"types\" : [ \"route\" ]\n            },\n            {\n
        \              \"long_name\" : \"Wallasey\",\n               \"short_name\"
        : \"Wallasey\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Merseyside\",\n
        \              \"short_name\" : \"Mersyd\",\n               \"types\" : [
        \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"England\",\n               \"short_name\"
        : \"England\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United Kingdom\",\n               \"short_name\" : \"GB\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"CH45\",\n               \"short_name\" : \"CH45\",\n               \"types\"
        : [ \"postal_code_prefix\", \"postal_code\" ]\n            },\n            {\n
        \              \"long_name\" : \"Wallasey\",\n               \"short_name\"
        : \"Wallasey\",\n               \"types\" : [ \"postal_town\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"56, Wallasey, Merseyside CH45,
        UK\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 53.43382870,\n                  \"lng\" :
        -3.07537870\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 53.42624619999999,\n                  \"lng\" : -3.09045290\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 53.42998540,\n
        \              \"lng\" : -3.08258660\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 53.43382870,\n                  \"lng\" :
        -3.07537870\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 53.42624619999999,\n                  \"lng\" : -3.09045290\n               }\n
        \           }\n         },\n         \"types\" : [ \"route\" ]\n      },\n
        \     {\n         \"address_components\" : [\n            {\n               \"long_name\"
        : \"C[...]
